.gallery > h1 {
  padding: 1rem 2rem;
}

.galleryItem {
  padding: 3rem 1.5rem 6rem 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

.galleryItemTitle {
  font-size: 2rem;
}

.galleryItemImage {
  border-radius: .3rem;
  width: 100%;
  margin-bottom: 2rem;
}

.galleryItemAuthorship,
.galleryItemTags,
.galleryItemTime {
  background-position: left .4rem;
  background-repeat: no-repeat;
  background-size: .8rem;
  margin-top: 1rem;
  padding-left: 1rem;  
}

.galleryItemAuthorship {
  background-image: var(--icon-profile);
}

.galleryItemTags {
  background-image: var(--icon-tech);
}

.galleryItemTime {
  background-image: var(--icon-calendar);
}

.galleryItemDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 1rem;
}

.galleryItemDetails > p {
  margin: 0;
}

.galleryItemType {
  width: 100%;
}

.galleryItemDescription {
  /* margin-bottom: auto; */
}

@media (min-width: 640px) {
  .gallery > h1 {
    padding: 2rem 4rem;
  }
}
