.colophon {
  padding: 3rem 1.5rem 6rem 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

.end {
  font-size: 2rem;
  text-align: center;
}

.quote {
  border-left: .3rem double var(--color-canvas-text);
  border-radius: .5rem;
  border-right: .3rem double var(--color-canvas-text);
  letter-spacing: -0.02rem;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  word-spacing: 0.025rem;
}

.quoteCitation {
  margin: 0;
  text-align: right;
}

@media (min-width: 640px) {
  .quote {
    font-size: 1.6rem;
    margin: 2rem 0;
    padding: 2rem 3rem;
  }
}
