.resume {
  padding: 3rem 1.5rem 6rem 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

.resumeSection {
  padding: 0 0 3rem;
}

.resumeSection > h2 {
  padding-bottom: .2rem;
}

.experienceSection {
  padding-top: 2rem;
}

.cover {
  border-bottom: .2rem solid var(--color-canvas-text-faded);
}

.position {
  border-left: .3rem double var(--color-canvas-text);
  border-radius: .5rem;
  /* border-right: .3rem double var(--color-canvas-text); */
  margin-bottom: 2rem;
  padding: 0 1rem .1rem 1rem;
}

.description {
  margin: .5rem 0 2rem;
}

.description:last-child {
  margin: .5rem 0 .5rem;
}

.details {
  border-bottom: .05rem solid var(--color-canvas-text);
}

.employer > span {
  white-space: nowrap;
}

.employer > span:before {
  content: '('
}

.employer > span:after {
  content: ')'
}

.title,
.location,
.duration {
  margin: 0;
}

@media (min-width: 61.25rem) {
  .details {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
  }

  .title {
    margin: 0 0 .5rem;
  }

  .location {
    margin: 0;
  }

  .duration {
    margin: 0;
    text-align: right;
  }
}
