.main {
  display: inherit;
}

.home {
  color: red;
}

.siteHeader {
  
}

.siteHeader.home {
  margin-bottom: -3rem;
}
.home .helm {
  border: none;
}
/* .home > nav > nav {
  position: absolute;
  z-index: 10;
} */

.siteId {
  color: var(--color-canvas-text);
  display: flex;
}

.home .siteId {
  visibility: hidden;
}

.siteLogo {
  height: 2.8rem;
  /* transform: translateY(-.2rem); */
  margin-bottom: -2rem;
  position: relative;
  vertical-align: top;
  width: 2.8rem;
  z-index: 1;
}

.siteTitle {
  font-family: var(--font-display);
  font-size: 1rem;
  font-variation-settings: 'wght' 700;
  letter-spacing: .05rem;
  margin: 0;
  padding-left: .5rem;
}

.siteSubtitle {
  font-family: var(--font-body);
  font-size: .8rem;
  font-variation-settings: 'wght' 600;
  letter-spacing: .1rem;
  line-height: .666;
  margin: 0;
  opacity: .6;
  text-transform: uppercase;
}

.siteId:hover,
.siteId:focus {
  color: var(--color-canvas-text);
}

.helm {
  display: flex;
  justify-content: space-between;
  border-bottom: .1rem solid var(--color-canvas-text);
  padding: .5rem;
}
