.directory {
  /* background-color: #f9f9f2; */
  padding: 1rem 2rem 2rem;
}

.directoryItem:last-of-type {
  padding: 2rem 0 0;
}

.directoryItemImage > img {
  border-radius: .3rem;
  width: 100%;
  height: auto;
}

.directoryItemCaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0rem 3rem;
}

.directoryItemDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 1rem;
}

.directoryItemDetails > p {
  margin: 0;
}

.directoryItemType {
  width: 100%;
}

.directoryItemDescription {
  margin-bottom: auto;
}

.directoryItemAuthorship {
  background-image: var(--icon-profile);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 1.1rem;
  padding-left: 1rem;
}

.directoryItemTime {
  /* background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='15' width='15' view-box='0,0 10,10' fill='%23000'%3e%3ccircle cx='5' cy='5' r='5' /%3e%3cpath stroke='%23fff' stroke-width='1' stroke-linecap='round' fill='none' d='M5,2V5H2' /%3e%3c/svg%3e"); */
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 1.1rem;
  padding-left: 1rem;
}

.directoryItemTags {
  background-image: var(--icon-tech);
  background-position: left .4rem;
  background-repeat: no-repeat;
  background-size: 1.1rem;
  margin-top: 1rem;
  padding-left: 1rem;  
}

.directoryFooter {
  border-bottom: .2rem solid var(--color-canvas-text-faded);
  display: block;
  margin: 1rem 0 0;
  padding: 1rem;
  text-align: right;
}

@media (min-width: 61.25rem) {
  .directory {
    padding: 2rem 4rem 4rem;
  }

  .directoryItem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    padding: 2rem 0 4rem;
  }

  .directoryItemImage {
    width: 100%;
  }

  .directoryItemCaption {
    padding: 0 0 1rem;
    width: 100%;
  }
}
