.directory {
  padding: 1rem 2rem 2rem;
}

.directoryItem:last-of-type {
  padding: 2rem 0 0;
}

.directoryItemImage img {
  border-radius: .15rem;
  width: 100%;
  height: auto;
}

.directoryItemCaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0rem 3rem;
}

.directoryItemDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 1rem;
}

.directoryItemDetails > p {
  margin: 0;
}

.directoryItemType {
  width: 100%;
}

.directoryItemDescription {
  margin-bottom: auto;
}

.directoryItemAuthorship,
.directoryItemTags,
.directoryItemTime {
  background-position: left .4rem;
  background-repeat: no-repeat;
  background-size: .8rem;
  margin-top: 1rem;
  padding-left: 1rem;  
}

.directoryItemAuthorship {
  background-image: var(--icon-profile);
}

.directoryItemTags {
  background-image: var(--icon-tech);
}

.directoryItemTags > span:last-child {
  white-space: nowrap;
}

.directoryItemTime {
  background-image: var(--icon-calendar);
}

.directoryFooter {
  border-bottom: .2rem solid var(--color-canvas-text-faded);
  display: block;
  margin: 1rem 0 0;
  padding: 1rem;
  text-align: right;
}

@media (min-width: 61.25rem) {
  .directory {
    padding: 2rem 4rem 4rem;
  }

  .directoryItem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    padding: 2rem 0 4rem;
  }

  .directoryItemImage {
    width: 100%;
  }
  .directoryItemImage img {
    border-radius: .15rem;
    width: 100%;
    height: auto;
    height: 19rem;
    width: 40rem;
    object-fit: cover;
    object-position: top;
  }

  .directoryItemCaption {
    padding: 0 0 1rem;
    width: 100%;
  }
}
