.jumbotron {
  background-color: #f5f1d9;
  /* background-image: url(/images/lily02.png), linear-gradient(-135deg, #d6c6a8 0%, #f5f1d9 60%, #d6c6a8 100%);
  background-position: 60vw 25vw, 0 0;
  background-repeat: no-repeat;
  background-size: 36.4rem 19.25rem, 100% 100%; */
  border-bottom: 10px solid;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
  transition: 1s background-color ease-in-out;
  transition-property: background-color, color;
}

.jumbotron.roleDevelop {
  background-color: #708090;
  background-color: #58365c;
  background-color: #222;
  background-image: linear-gradient(225deg, #1f005c, #540083, #a200a9, #d00099, #f60069, #ff1e38, #ff6844, #ffb56b);
  background-image: linear-gradient(-225deg, #111e, #333e), url(/images/development.svg);
  background-position: left;
  background-size: cover;
  /* background-color: #f6c43e; */
  /* background-image: none; */
  color: #fff;
}

.jumbotron:not(.roleDevelop) .scene {
  opacity: 0;
}

.jumbotron.roleDevelop .jumbotronTitle {
  text-shadow: 0 .1rem .05rem #000, 0 .1rem .05rem #000;
}

.jumbotron.roleDevelop .jumbotronTagline {
  text-shadow: 0 .1rem .05rem #000, 0 .1rem .05rem #000;
}

.jumbotron.roleDevelop .jumbotronTrigger {
  border-bottom: .1rem dashed #fff;
  text-shadow: 0 .1rem .05rem #000, 0 .1rem .05rem #000;
}

.jumbotron.roleDesign {
  background-color: #ff6347;
  background-color: #e24b27;
  background-image: none;
  background-image: linear-gradient(135deg, #1f005c, #540083, #a200a9, #d00099, #f60069, #ff1e38, #ff6844, #ffb56b);
  /* color: #fff; */
}

.jumbotron.roleArt {
  background-color: #008080;
  background-image: none;
  /* color: #fff; */
}

.jumbotron.roleDabble {
  background-color: #fd294e;
  background-color: #fd783c;
  background-image: none;
}

.jumbotronTabs {
  display: none;
}

.jumbotronPanel {
  display: block;
  min-height: 25rem;
}

.jumbotronMenu {
  display: inline-block;
  position: relative;
}

.jumbotronOption {
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  outline: none;
  padding: .5rem 1rem;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.jumbotronOption:hover,
.jumbotronOption:focus {
  color: #fff;
  background-color: #666;
}

.jumbotronOption[disabled] {
  color: #aaa;
  background-color: #666;
}

.jumbotronTrigger {
  background: transparent;
  border: none;
  border-bottom: .1rem dashed #000;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  outline: none;
  padding: 0;
  text-shadow: 0 0 0 #0000, 0 0 0 #0000;
  transition: 1s text-shadow ease-in-out;
  width: auto;
}

.jumbotronMenu:hover .jumbotronNavlist,
.jumbotronMenu:focus-within .jumbotronNavlist {
  display: block;
}

.jumbotronNavlist {
  background-color: #fff;
  /* border: .1rem solid #f3c474; */
  /* border: 3px solid #f3c474; */
  box-shadow: 0 0 .3rem #f3c47466, 0 .6rem 1rem #f3c47466;
  border-radius: .3rem;
  display: none;
  list-style: none;
  outline: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
}

.jumbotronNav {
  padding: 0;
  line-height: 1;
}

.jumbotronSelect {
  border: none;
  border-bottom: .1rem dashed #000;
  background: transparent;
  cursor: pointer;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.jumbotronSelect:focus {
  border-bottom: .1rem solid #000;
}

.jumbotronSelect::-ms-expand {
  display: none;
}

.jumbotronSelect option {
  font-size: 1rem;
}

.jumbotronTitle {
  font-size: 3rem;
  line-height: 1;
  text-shadow: 0 0 0 #0000, 0 0 0 #0000;
  transition: 1s text-shadow ease-in-out;
}

.jumbotronTagline {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  text-shadow: 0 0 0 #0000, 0 0 0 #0000;
  transition: 1s text-shadow ease-in-out;
}













@media (min-width: 640px) {
  .jumbotron {
    height: 30rem;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100vw;
  }

  .jumbotronTabs {
    top: 0;
    display: flex;
    height: 6rem;
    /* justify-content: space-around; */
    padding: 3rem;
    position: absolute;
    width: 100%;
    z-index: 10;
    transform: scale(.7);
    transform-origin: left top;
    transition: transform 500ms;
  }

  /* .jumbotronTabs:hover,
  .jumbotronTabs:focus-within {
    transform: scale(1);
  } */

  .jumbotronTab {
    background-color: transparent;
    border: none;
    border-bottom: 0 solid rgba(0,0,0,0);
    border-top: .5rem solid rgba(0,0,0,0);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem .5rem 2rem;
    outline: none;
    transition: .3s transform ease-out, .3s border ease-out;
    transform: translateY(.45rem) scale(.85);
    width: 16.666%;
  }

  .jumbotronTab:hover,
  .jumbotronTab:focus,
  .jumbotronTab.selected {
    border-bottom-width: .5rem;
    border-top-width: 0;
    transform: translateY(.35rem) scale(.9);
  }

  .jumbotronTab.selected:hover,
  .jumbotronTab.selected:focus {
    transform: translateY(0rem) scale(1);
  }

  .jumbotronPanel {
    display: none;
    outline: none;
    position: relative;
    transform: scale(.95);
    transition: 500ms transform ease-in-out;
    z-index: 1;
  }

  .jumbotronPanel:hover,
  .jumbotronPanel:focus-within {
    transform: scale(1);
  }

  .jumbotronPanel.selected {
    display: block;
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 10rem 3rem 3rem;
    transform: perspective(30rem) rotateY(15deg);
    /* transform: perspective(30rem) rotateY(0deg); */
    transform-origin: 0%;
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 220%;
  }
  
  .card {
    color: #000;
    background-color: #fff;
    border-radius: .25rem;
    font-size: .5rem;
    /* height: 12rem; */
    position: absolute;
    bottom: 0;
    margin: .5rem;
    padding: 1rem;
    box-shadow: 0 1rem 1rem #0003;
    transform-style: preserve-3d;
    /* transform: perspective(30rem) rotateZ(5deg) rotateY(15deg); */
    /* transform: perspective(100rem) rotateZ(5deg) rotateY(-25deg); */
    transition: transform 1s;
    width: 12rem;
    /* padding-right: 44.444%; */
  }
  
  .card:hover {
    /* transform: perspective(100rem) translateY(-5rem) rotateZ(5deg) rotateY(-25deg); */
  }

  .card > p {
    margin: .5rem 0 0;
  }

  .cardTitle {
    color: #925bff;
    color: #f3c474;
    color: #e13496;
    font-size: .666rem;
    font-weight: 400;
    line-height: 1.33;
    margin: 1rem;
  }

  .featuredImage {
    animation: zoom-out 2s ease-in-out forwards;
    animation-delay: 300ms;
    height: 29rem;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(1.1) rotate(1deg);
    width: 100%;
    z-index: -1;
  }

  .featuredImage:before {
    content: '';
    display: block;
    background-image: linear-gradient(to bottom, #0002, #0006);
    position: absolute;
    z-index: 2;
    height: 30rem;
    width: 100%;
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1.1) rotate(1deg);
  }

  to {
    transform: scale(1);
  }
}
