.nav {
  line-height: 0;
}

.helmItem {
  background-color: transparent;
  border: none;
  color: var(--color-canvas-text);
  cursor: pointer;
  /* filter: drop-shadow(0 0 .1rem currentColor); */
  line-height: 0;
  outline: none;
  padding: 0;
  transition: 300ms transform ease-in-out;
  transition-property: border-color, color, transform;
}

.navigationClose {
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: currentColor;
  line-height: 0;
  outline: none;
  padding: .2rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  transition: 300ms transform ease-in-out;
  transition-property: border-color, color, transform;
  z-index: 1000;
}

.helmItem > svg {
  fill: var(--color-canvas-text-faded);
  transform-origin: .989rem 1.085rem;
}

.helmItem > svg,
.navigationClose > svg {
  border: .05rem solid #0000;
  border-radius: 100%;
  color: var(--color-canvas-text);
  height: 2rem;
  width: 2rem;
  transform: rotate(0deg) scale(1);
  transform-origin: 50% 50%;
  transition: 300ms transform ease-in-out;
  transition-property: border, color, transform;
}

.helmItem:hover > svg,
.helmItem:focus > svg {
  transform: rotate(360deg) scale(1.15);
}

.navigationClose:hover > svg,
.navigationClose:focus > svg {
  border: .05rem solid currentColor;
  border-radius: 100%;
  overflow: visible;
  transform: scale(1.15);
}

.navPanel {
  background-color: var(--color-canvas-faded);
  /* background-color: hsla(0,0%,0%,.9); */
  color: var(--color-canvas-text);
  display: grid;
  grid-template-columns: 1fr 0 1fr;
  grid-gap: 1rem;
  font-size: 1.5rem;
  height: 100vh;
  left: 0;
  line-height: initial;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 4rem 1rem;
  perspective: 200rem;
  position: fixed;
  text-shadow: 0 .1rem 0 var(--color-canvas);
  text-shadow: 0 .1rem 0 #fff0;
  top: 0;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
  visibility: hidden;
  width: 100vw;
  will-change: transform;
  z-index: 100;
}

.navPanel > section {
  background-color: transparent;
  transform-style: preserve-3d;
}

.navPanel h2 {
  border-bottom: .2rem solid currentColor;
  font-size: 1rem;
  font-variation-settings: 'wght' 600;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
}

.span {
  white-space: nowrap;
}

.primaryPanel > ul,
.secondaryPanel > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  perspective: 200rem;
  perspective-origin: 100% 200%;
}

.navItem {
  transform-style: preserve-3d;
}


.navLink {
  background-color: var(--color-canvas);
  color: var(--color-canvas-text);
  border: .15rem solid var(--color-canvas-text-faded);
  display: block;
  margin: .25rem 0;
  outline: none;
  padding: .5rem;
  transition: transform 266ms ease-out;
  transition-property: background-color, border, filter, transform;
  position: relative;
}

.navLink:hover,
.navLink:focus {
  background-color: var(--color-canvas-text);
  color: var(--color-canvas);
  border: .15rem solid var(--color-canvas-text);
  transform: rotateY(0deg);
  z-index: 1;
}

.primaryPanel .navLink {
  transform: rotateY(33deg);
  transform-origin: 80% 50%;
  will-change: background-color, border, filter, transform;
}

.secondaryPanel > section {
  transform: rotateY(-33deg);
  transform-origin: 20% 50%;
  padding: 0 0 1rem;
}

.secondaryPanel .navLink {
  transition: transform 266ms ease-out;
  transition-property: background-color, border, filter, transform;
  transform: rotateY(-33deg);
  transform-origin: 20% 50%;
  will-change: background-color, border, filter, transform;
}

.primaryPanel .navLink:hover,
.primaryPanel .navLink:focus,
.secondaryPanel .navLink:hover,
.secondaryPanel .navLink:focus {
  transform: rotateY(0deg);
  z-index: 1;
}

.visible {
  visibility: visible;
}

.open .navigationClose {
  display: block;
}

.open .navPanel {
  transform: translateX(0);
}


@media (min-width: 61.25rem) {
  .navPanel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 10%;
  }
}

@supports ((-webkit-backdrop-filter: blur(.5rem)) or (backdrop-filter: blur(.5rem))) {
  .navPanel {
    background-color: var(--color-canvas-faded);
    backdrop-filter: blur(.5rem);
  }
}
